@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100&display=swap');
   
body{
    margin: 2rem;
    background-color: yellowgreen;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right: 35%;
    margin-left: 35%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'IBM plex Mono', monospace;
    color: black;  
}
/*Background image*/
#brainy{
    padding: 5px;
    border: 4px dashed white;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right: 50%;
    margin-left: 5%;
}
h1{
    font-style: oblique;
    color: white;
    margin-top: 100px;
    text-align: center;
    
    
}
button {
    border: 4px solid white;
    background-color: grey;
    padding: 10px;
    margin-right: 15%;
    margin-left: auto;
    font-family: 'IBM plex Mono, monospace';
    color: white
}
button:hover{
    background: hotpink;

}